.modal{
    position: absolute;
    width: 30%;
    height: 30%;
    min-height: 250px;
    left: 50%;
    top: 50%;
    z-index: 20;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 5px grey;
}

.modal-header{
    height: 48px;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    flex-grow: 1;
    min-height: 48px;
    justify-content: center;
    align-items: center;
}
.modal-header>label{
    font-size: 1.2rem;
    font-weight: bold;
}

.modal-content{
    display: flex;
    justify-content: center;
    flex-grow: 8;
    align-items: center;
}

.modal-content>p{
    font-size: 1.1rem;
}

.modal-footer{
    flex-grow: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 5px 16px;
    min-height: 48px;
    border-top: 1px solid #f0f0f0;
}

@media screen and (max-width: 960px){
    .modal{
        width: 500px;
        height: 300px;
    }
}
@media screen and (max-width: 768px){
    .modal{
        width: 450px;
    }
}
@media screen and (max-width: 660px){
    .modal{
        width: 400px;
    }
}
@media screen and (max-width: 570px){
    .modal{
        width: 350px;
    }
}
@media screen and (max-width: 500px){
    .modal{
        width: 300px;
    }
}
