.list-container{
    display: flex;   
    flex-direction: column;
    
}
.draggable-area{
    margin-top: 20px;
}
.droppable-area{
    margin-top: 50px;
}
.label-message{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.3);
    padding-top: 50px;
}

