:root{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(#ffffff, #dfdfdf 20%); 
    box-sizing: border-box;
    height: 100vh;
}

.button{
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 5px 15px;
    background-color: #ffffff;
}
.button:hover{
    background-color: #f6f6f6;
}